$base: 8px;

$red-main: #d03050;
$green-main: #18a058;
$yellow-main:  #f0a020;

$red-secondary: rgba(208, 48, 80, 0.16);
$green-secondary: rgba(24, 160, 88, 0.16);
$yellow-secondary: rgba(240, 160, 32, 0.16);